services:
  redis:
    image: redis:latest
    container_name: redis-server
    restart: unless-stopped
    command: ["redis-server", "/app/redis.conf"]
    ports:
      - "6379:6379"
    volumes:
      - .:/app
      - ./backups:/data
  app:
    build: .
    container_name: training-diary
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis-server
      - REDIS_PORT=6379
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - AWS_DEFAULT_REGION
    volumes:
      - .:/app
      - "/mnt/c/Users/OskariSulkakoski/OneDrive - Intragen/excel:/app/host_excel"

volumes:
  redis-data:
